.offers__popular-rooms {
    padding: 3em 1.25em;
    margin-bottom: 4em;
    background-color: $color-main-alternative;
    text-align: center;

    &--ligth {
        background-color: #fff;
        text-align: left;
        padding: 0em 1.25em;
        margin-bottom: 2em;
        background-color: #fff;
        text-align: left;
    }

    &-informative-text {
        color: $color-secondary;
        font-family: $font-archivo;
        font-size: 0.85rem;
        font-weight: 500;
        line-height: 1rem;
        letter-spacing: 0.15rem;
        margin-bottom: 2em;
    }

    &-title {
        color: $color-light;
        font-family: $font-standard;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: -0.1rem;
        margin-bottom: 1.5em;

        &--related-rooms {
            color: #222;
            font-family: $font-standard;
            font-size: 1.85rem;
            font-weight: 400;
            line-height: 1.85rem;
            letter-spacing: 0rem;
            margin-bottom: 1em;
        }
    }

    .offers__swiper {
        height: 25.7rem;
        &-slide {
            width: 100%;
            margin-bottom: 0em;

            > img {
                width: 100%;
                height: 13.6rem;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 7.5rem;
        bottom: auto;
    }

    .offers__details {
        width: 100%;
        top: -2.7rem;
    }
}

@media (min-width: 1000px) {
    .offers__popular-rooms {
        &-title {
            font-size: 5rem;
            line-height: 5rem;
            letter-spacing: -0.15rem;
        }

        .offers__menu {
            gap: 0rem;

            img {
                width: 1rem;
                height: 1rem;
            }
        }

        .offers__details {
            max-width: unset;
        }
    }
}
