.rooms {
    text-align: center;
    margin-bottom: 4em;

    &__informative-text {
        display: block;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 1em;
    }

    &__menu {
        max-width: 27em;
        width: 70%;
        margin: 0 auto;
        height: 2.5em;
        padding: 0.8em 1em;
        position: relative;
        top: 1.3em;
        text-align: center;
        background-color: $color-light;
        z-index: 2;

        /** COLOCAR EN EL MEDIO DEL MENU **/
        &-item {
            &:not(:last-child) {
                margin-right: 0.7em;
            }
        }
    }

    &__swiper {
        max-width: 48.1em;
        width: 100%;
        height: 31em;

        &-slide {
            &-img {
                background-color: black;
                width: 100%;
                height: 100%;
            }
        }

        &-button-prev, &-button-next {
            top: 9.5em;
        }
    }

    &__image {
        position: relative;
        max-width: 48.1em;
        width: 100%;
        height: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__details {
        max-width: 42.5em;
        padding: 1em 0em;
        width: 90%;
        margin: 0 auto;
        background-color: $color-light;
        position: relative;
        top: -1em;
        z-index: 2;
        text-align: center;

        &-title {
            display: inline-block;
            font-family: $font-standard;
            font-size: 1.75rem;
            font-weight: 400;
            line-height: 2.25rem;
            letter-spacing: -0.1rem;
            margin-bottom: 0.5em;
        }

        &-text {
            width: 80%;
            display: inline-block;
            color: $text-color-secondary;
            font-family: $font-roboto;
            font-size: 0.85rem;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: 0rem;
            margin-bottom: 1.5em;
        }

        &-price {
            color: $color-secondary;
            font-family: $font-archivo;
            font-weight: 700;
            line-height: 2.7rem;
            letter-spacing: 0rem;

            span {
                &:nth-child(1) {
                    font-size: 2rem;
                }

                &:nth-child(2) {
                    font-size: 2.5rem;
                }

                &:nth-child(3) {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .rooms {

        &__image {
            height: 65%;
        }

        &__swiper {
            height: 33em;
            &-button-prev, &-button-next {
                top: 13em;
            }
        }

        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;

            /** COLOCAR EN EL MEDIO DEL MENU **/
            &-item {
                &:not(:last-child) {
                    margin-right: 1em;
                }

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    filter: invert(1);
                }
            }
        }

        &__details {
            padding: 1em 0em;
            width: max-content;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            top: -2em;

            &-info {
                width: 75%;
                height: 90%;
                padding: 1em 2em;
            }

            &-title {
                font-size: 2.25rem;
            }
        }
    }
}
