.room-details__amenities {
    padding: 0em 1.25em;
    margin-bottom: 3em;

    &-title {
        font-family: $font-standard;
        border-bottom: 0.1rem solid #f1f1f1;
        padding: 1rem;
        font-size: 1.85rem;
        font-weight: 400;
        line-height: 1.85rem;
        letter-spacing: 0rem;
        margin-bottom: 1em;
    }

    &-list {
        list-style-type: none;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;

        &-item {
            width: 170px;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &-img {
                margin-right: 0.25rem;
            }

            &-text {
                color: $text-color-secondary;
                font-family: $font-roboto;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.1rem;
                letter-spacing: 0rem;
                vertical-align: top;
            }
        }
    }
}

@media (min-width: 1000px) {
    .room-details__amenities {
        padding: 0em 1.25em;
        margin: 0em auto 3em auto;
    
        &-title {
        }
    
        &-list {
            -webkit-columns: 3;
            -moz-columns: 3;
            columns: 3;
        }
    }
}