.room-details__cancellation {
    padding: 0em 1.25em;
    margin-bottom: 6em;

    &-title {
        font-family: $font-standard;
        font-size: 1.85rem;
        font-weight: 400;
        line-height: 1.85rem;
        letter-spacing: 0rem;
        border-bottom: 0.1rem solid #f1f1f1;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    &-text {
        font-family: $font-roboto;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0rem;
        text-align: left;
    }
}

@media (min-width: 1000px) {
    .room-details__cancellation {
        margin: 0em auto 6em auto;
    }
}


