.room-details {
    &__details {
        padding: 2.5em 1.25em;
        margin-bottom: 2em;

        &-informative-text {
            color: $text-color-secondary;
            font-family: $font-archivo;
            font-size: 0.85rem;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 0.15rem;
            margin-bottom: 1em;
        }

        &-img {
            width: 340px;
            height: 200px;
            margin-bottom: 2rem;
        }

        &-title {
            font-family: $font-standard;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 3rem;
            letter-spacing: -0.1rem;
            margin-bottom: 1em;
        }

        &-price {
            color: $color-secondary;
            font-family: $font-archivo;
            font-weight: 700;
            letter-spacing: 0rem;

            span {
                line-height: 2.65rem;

                &:nth-child(1) {
                    font-size: 2rem;
                }

                &:nth-child(2) {
                    font-size: 2.5rem;
                }

                &:nth-child(3) {
                    font-size: 0.8rem;
                }
            }
        }
    }

    &__form {
        padding: 0em 1.5em;
        margin-bottom: 2.5em;
        &-title {
            font-family: $font-archivo;
            font-size: 1.1rem;
            font-weight: 700;
            line-height: 1.25rem;
            letter-spacing: -0.05rem;
            text-align: center;
            margin-bottom: 2em;
        }

        &-control {
            label {
                display: block;
                font-family: $font-archivo;
                font-size: 0.85rem;
                font-weight: 700;
                line-height: 1rem;
                letter-spacing: 0rem;
                margin-bottom: 0.75rem;
            }

            input {
                padding: 0rem 1.75rem;
                border: 0em;
                display: block;
                width: 100%;
                background-color: #f8f8f8;
                height: 3.75rem;
                margin-bottom: 0.75rem;
            }

            textarea {
                font-family: $font-archivo;
                padding: 0rem 1.75rem;
                border: 0em;
                display: block;
                width: 100%;
                background-color: #f8f8f8;
                height: 3.75rem;
                margin-bottom: 0.75rem;
            }
        }

        button {
            font-weight: 400;
        }
    }

    &__text {
        color: $text-color-secondary;
        font-family: $font-roboto;
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0rem;
    }
}

@media (min-width: 1000px) {
    .room-details {
        
        
        &__details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                'info form'
                'text text'
            ;
            margin: 0 auto;
            padding: 2.5em 1.25em;
            margin-bottom: 2em;

            &-info {
                grid-area: info;

                .details-info__text {
                    padding: 2rem 2rem 0rem 2rem;
                    background-color: #FFF;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    width: 90%;
                    top: 4rem;
                }
            }
    
            &-img {
                width: 770px;
                height: 662.5px;
            }

            &-informative-text {
                color: $text-color-secondary;
                font-family: $font-archivo;
                font-size: 0.85rem;
                font-weight: 700;
                line-height: 1rem;
                letter-spacing: 0.15rem;
                margin-bottom: 1em;
            }
    
            &-title {
                font-family: $font-standard;
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 3rem;
                letter-spacing: -0.1rem;
                margin-bottom: 1em;
            }
    
            &-price {
                color: $color-secondary;
                font-family: $font-archivo;
                font-weight: 700;
                letter-spacing: 0rem;
    
                span {
                    line-height: 2.65rem;
    
                    &:nth-child(1) {
                        font-size: 2rem;
                    }
    
                    &:nth-child(2) {
                        font-size: 2.5rem;
                    }
    
                    &:nth-child(3) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    
        &__form {
            grid-area: form;
            padding: 6em 1.5em 1.5em 1.5em;

            &-title {
                font-family: $font-archivo;
                font-size: 1.1rem;
                font-weight: 700;
                line-height: 1.25rem;
                letter-spacing: -0.05rem;
                text-align: center;
                margin-bottom: 2em;
            }
    
            &-control {
                label {
                    display: block;
                    font-family: $font-archivo;
                    font-size: 0.85rem;
                    font-weight: 700;
                    line-height: 1rem;
                    letter-spacing: 0rem;
                    margin-bottom: 0.75rem;
                }
    
                input {
                    padding: 0rem 1.75rem;
                    border: 0em;
                    display: block;
                    width: 100%;
                    background-color: #f8f8f8;
                    height: 3.75rem;
                    margin-bottom: 0.75rem;
                }
            }
    
            button {
                width: 100%;
            }
        }
    
        &__text {
            grid-area: text;
            color: $text-color-secondary;
            font-family: $font-roboto;
            font-size: 0.85rem;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: 0rem;
        }
    }
}