.button {
    cursor: pointer;
    display: block;
    width: 15.8em;
    height: 4.4em;
    border: 0em;
    color: $color-light;
    font-family: $font-archivo;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.15rem;
    background-color: $color-secondary;

    & a {
        color: #fff;
        text-decoration: none;
        padding: 1.5rem 3.5rem;
    }

    &--transparent {
        background-color: transparent;
        border: 0.15em solid #ffffff54;
    }

    &--big {
        width: 17.5em;
    }

    &__banner {
        a {
            padding: 1.5rem 2.95rem;
        }
    }
}