@import "./home/banner.scss";
@import "./home/about-us.scss";
@import "./home/checking.scss";
@import "./home/facilities.scss";
@import "./home/intro-video.scss";
@import "./home/menu.scss";
@import "./home/rooms.scss";
@import "./home/stats.scss";

.rooms__swiper {
    overflow-y: visible;
}

.rooms__swiper-wrapper {
    overflow-y: visible;
    .rooms__menu {
        top: -2em;
    }

    .rooms__details {
        top: 4em;
    }
}